.mt-15 {
  margin-top: 15px !important;
}

.underline {
  text-decoration: underline;
}

.inline-vert-bottom {
  display:inline-block;
  vertical-align:bottom;
  float:none;
}

.inline-vert-top {
  display:inline-block;
  vertical-align:top;
  float:none;
}

.inline-vert-center {
  display:inline-block;
  vertical-align:middle;
  float:none;
}